<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css">
  </head>
  <body>
          <%- include('header'); -%>
    <div class="container">

      <h1>Home</h1>
      <hr>
      <br>
  <% for(var i=posts.length-1;i>=0 ; i--){ %>
      <div class="items">
        <h2><%= posts[i].heading %></h2>
        <hr>
        <p><%= posts[i].description %></p>
      </div>
      <br><br>
    <% } %>
    </div>

  </body>
</html>
