<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login For a change</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    <h1 class="log">LOGIN</h1>
<div class="container">

<form class="form-group login" action="/login" method="post">
<input class="form-control" type="text" name="username" placeholder="Enter username">
<br>
<input class="form-control" type="password" name="password" placeholder="Enter password">
<br>
<button class="btn btn-primary form-control" type="submit" name="submit">Login</button>
</form>

</div>

  </body>
</html>
